In [4]:
from faker import Faker
import random
import pandas as pd
from datetime import datetime, timedelta

fake = Faker()

# Total Number of employees
num_employees = 30

# Samples
departments = ['IT', 'HR', 'Marketing', 'Sales']
job_titles = ['Software Engineer', 'HR Manager', 'Marketing Analyst', 'Sales Manager', 'Network Engineer']
leave_types = ['Sick Leave', 'Casual Leave', 'No Leave']

# Empty list to store data
data = []

# Function to calculate worked time in decimal format
def calculate_worked_time_in_decimal(login_time, logout_time):
    worked_duration = logout_time - login_time
    worked_hours_decimal = round(worked_duration.total_seconds() / 3600, 2)  # Convert seconds to decimal hours
    return worked_hours_decimal

for i in range(num_employees):
    emp_id = 1000 + i
    first_name = fake.first_name()
    last_name = fake.last_name()
    department = random.choice(departments)
    job_title = random.choice(job_titles)
    
    # Shift Timings
    shift_start_time = fake.date_time_this_year().replace(hour=9, minute=0)
    shift_end_time = shift_start_time.replace(hour=17, minute=0)
    
    # Login Timings
    login_time = shift_start_time + timedelta(minutes=random.randint(0, 60))
    logout_time = shift_end_time + timedelta(minutes=random.randint(0, 30))  # Employees can log out a bit late
    
    # Worked hours in decimal format
    worked_hours_decimal = calculate_worked_time_in_decimal(login_time, logout_time)
    
    # Late login or early left details 
    late_login = "Yes" if login_time > shift_start_time else "No"
    left_early = "Yes" if worked_hours_decimal < 8 else "No"
    
    # Percentage rate based on worked hours
    percentage_rate = min((worked_hours_decimal / 8) * 100, 100)
    
    # Break after login time, random duration between 20 and 60 minutes
    break_start_time = login_time + timedelta(minutes=random.randint(120, 240))  # Random break start time (between 2-4 hours after login)
    break_end_time = break_start_time + timedelta(minutes=random.randint(20, 60))  # Random break duration between 20 and 60 minutes
    break_duration = (break_end_time - break_start_time).seconds / 60  # Break duration in minutes
    
    # Random leave status
    leave_status = random.choice(leave_types)
    leave_days_allotted = 12  # Default leave days
    leave_days_taken = random.randint(0, 5) if leave_status != 'No Leave' else 0
    remaining_leave_days = leave_days_allotted - leave_days_taken
    
    # Appending the employee data
    data.append([emp_id, first_name, last_name, department, job_title, 
                 shift_start_time.strftime("%I:%M %p"), shift_end_time.strftime("%I:%M %p"),
                 login_time.strftime("%I:%M %p"), logout_time.strftime("%I:%M %p"),
                 worked_hours_decimal, late_login, left_early, round(percentage_rate, 2),
                 "On Time" if late_login == "No" else "Not On Time",
                 break_start_time.strftime("%I:%M %p"), break_end_time.strftime("%I:%M %p"), break_duration,
                 leave_status, leave_status if leave_status != 'No Leave' else 'N/A',
                 leave_days_allotted, leave_days_taken, remaining_leave_days])

# Creating the DataFrame
columns = ['Employee ID', 'First Name', 'Last Name', 'Department', 'Job Title', 
           'Shift Start Time', 'Shift End Time', 'Login Time', 'Logout Time',
           'Worked Hours', 'Late Login', 'Left Early', 'Percentage Rate', 'On Time Status',
           'Break Start Time', 'Break End Time', 'Break Duration', 'Leave Status', 
           'Leave Type', 'Leave Days Allotted', 'Leave Days Taken', 'Remaining Leave Days']

df = pd.DataFrame(data, columns=columns)

# Save the data into CSV file
df.to_csv('employees1.csv', index=False)

print("Dataset updated with Worked Hours in Decimal Format!")

Dataset updated with Worked Hours in Decimal Format!

In [5]:
df.head()

,Employee ID,First Name,Last Name,Department,Job Title,Shift Start Time,Shift End Time,Login Time,Logout Time,Worked Hours,...,Percentage Rate,On Time Status,Break Start Time,Break End Time,Break Duration,Leave Status,Leave Type,Leave Days Allotted,Leave Days Taken,Remaining Leave Days
0,1000,Robert,Brown,Marketing,Sales Manager,09:00 AM,05:00 PM,09:10 AM,05:02 PM,7.87,...,98.38,Not On Time,12:16 PM,12:59 PM,43.0,No Leave,N/A,12,0,12
1,1001,Jerome,Alvarez,IT,Network Engineer,09:00 AM,05:00 PM,09:33 AM,05:29 PM,7.93,...,99.12,Not On Time,12:04 PM,12:27 PM,23.0,No Leave,N/A,12,0,12
2,1002,Haley,Bush,IT,HR Manager,09:00 AM,05:00 PM,09:03 AM,05:20 PM,8.28,...,100.00,Not On Time,12:06 PM,12:59 PM,53.0,No Leave,N/A,12,0,12
3,1003,Jessica,Lawrence,HR,Software Engineer,09:00 AM,05:00 PM,09:23 AM,05:29 PM,8.10,...,100.00,Not On Time,11:52 AM,12:51 PM,59.0,No Leave,N/A,12,0,12
4,1004,Terri,Mcdonald,Marketing,Sales Manager,09:00 AM,05:00 PM,09:38 AM,05:15 PM,7.62,...,95.25,Not On Time,01:35 PM,02:26 PM,51.0,Casual Leave,Casual Leave,12,1,11